.left {
	margin-right: 10px;
}

.right {
	margin-left: 20px;
}

.ruler {
	display: inline-block;
	width: 28px;
  height: 16px;
  border: 1px solid red;
}

div.right {
	float: right;
}

div.block {
	width: 45vw;
	height: 20vh;
	border: 2px solid black;
}

div.top {
	margin-bottom: 10px;
}

div.bottom {
	margin-top: 20px;
}

div.ruler {
	height: 18px;
  border: 2px solid black;
}

.float-block {
	width: 200px;
	float: right;
}
