body{
  font-size:small;
  font-family: Georgia, "Times New Roman";
  line-height: 1.9em;
  font-style: italic;
  color: #444444;
}

h1,h2{
  color:#007e7e;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.3em;
}

.guarantee {
  border-color: white;
  border-width: 1px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 25px;
  margin: 30px;
}
