body{
  font-size:small;
  font-family: Verdana, Helvetica, Arial;
  line-height: 1.6em;
}

h1,h2{
  color:#007e7e;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.3em;
}

.guarantee {
  border-color: white;
  border-width: 1px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 25px;
  margin: 30px;
  line-height: 1.9em;
  font-style: italic;
  color: #444444;
  font-family: Georgia, "Times New Roman";
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 25px;
  padding-left: 80px;
  margin-right: 250px;
  border-style: dotted;
  border-color: #a5432a;
  border-width:thick;
  border-top-color: #ee12ee;
  border-left-color: #678906;
  border-right-color: #987498;
  border-radius: 80px;
  /*画一个圆形
  margin-right: 650px;
  border-radius: 650px;*/
}

.elixirs{
  /*border-width: thin;
  border-style: solid;
  border-color: #007e7e;*/
  border: thin solid #007e7e;
  width: 200px;
  /*padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;*/
  padding: 20px;
  margin-left: 20px;
  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
  text-align: center;
  line-height: 1;
}

.elixirs h2 {
  color: black;
}

.footer {
  font-size: .5em;
  text-align: center;
  line-height: normal;
  margin-top: 30px;
}