* {
  margin: 0%;
  padding: 0%;
}

html,body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.Home-title {
  height: 100px;
  position: relative;
  display: flex;

}

.Home-Max {
  width: 100%;
  height: 733px;
  background-image: url("./img/tk.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Home-title-img {
  width: 210px;
  height: 46px;
  position: relative;
  top: 36px;
  left: 50px;
}

.Home-title-img img {
  width: 100%;
  height: 100%;
}

.Home-title-nav {
  width: 65%;
  height: 26px;
  margin-left: 4%;
  position: relative;
  top: 46px;
  display: flex;
}

.Home-title-nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  display: inline-block;
  height: 100%;
  background: url("./img/bai.png") no-repeat right bottom;
  background-size: 0px 2px;
  transition: background-size 1s;
}

.Home-title-nav a:hover {
  background-size: 100px 2px;
  background-position-x: left;
}

.Home-title-nav a:nth-child(5) {
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  display: inline-block;
  height: 100%;
  background: url("./img/bai.png") no-repeat right bottom;
  background-size: 0px 2px;
  transition: background-size 1s;
}

.Home-title-nav a:nth-child(5):hover {
  background-size: 180px 2px;
  background-position-x: left;
}

.Home-title-nav-rigth {
  height: 26px;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 46px;
  text-decoration: none;
  position: relative;
  display: flex;
}

.Home-title-nav-rigth a {
  display: inline-block;
  text-decoration: none;
  height: 20px;
  font-weight: bold;
  color: white;
  height: 100%;
  position: relative;
  top: 0px;
  left: -80px;
  background: url("./img/bai.png") no-repeat right bottom;
  background-size: 0px 2px;
  transition: background-size 1s;
}

.Home-title-nav-rigth a:hover {
  background-size: 100px 2px;
  background-position-x: left;
}

.Home-title-nav-rigth img {
  width: 20px;
  height: 90%;
  position: relative;
  left: -40px;
}

.Home-nr {
  max-width: 960px;
  width: 90%;
  position: absolute;
  top: 30%;
  height: 200px;
  left: 18%;
}

.Home-nr h1 {
  color: white;
  font-size: 70px;
  margin-left: 8%;
}

.Home-nr h6 {
  color: white;
  display: inline;
  margin-left: 40%;
}

.Home-title-keystroke{
  width: 100px;
  height: 50px;
  position: absolute;
  top: 640px;
  left: 700px;
}

.Home-title-keystroke img{
  width: 100%;
  height: 100%;
}
